.column.myGridClass {
  text-align: center;
  padding: 0px !important;
}
.T2op {
  margin-top: 50px;
}
.hidden.menu {
  display: none;
}
.ui.segment.header {
  margin-top: 36px !important;
  padding: 4px !important;
}
.contentWrapper .ui.grid {
  margin: 0px;
  padding: 0px;
}
.ui.sidebar {
  overflow-y: visible !important;
}
.masthead.segment {
  padding: 0;
}
.masthead.users {
  padding: 10 !important;
}
.tabpadding
{
  padding-left: 10px !important;
}
.logo {
  padding-left: 30px;
}
.searchBox .search {
  color: #0090e2;
}
.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.colorquote
{
  padding-top: 5px !important;
}
/* .ui.message
{
  background-color: blue !important;
} */
.redbackgrnd .ui.message {
  background-color: red !important;
  padding-top: 10px !important;
}

.bluebackgrnd .ui.message {
  background-color: blue !important;
  padding-top: 10px !important;
}
.buttonpad
{
  padding-top: 5px !important;
}
.ui.tab.active
{
  padding: 10px !important;
}
.searchBox
{
  margin-top: 4px;
  min-width: 400px;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.ui.segment {
  padding: 0px !important;
}
.ui.header .sub.header{
  padding-top: 10px !important;
}
.ui.attached.segment
{
  padding: 10px !important;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.large.ui.attached.segment
{
  font-size: large !important;
}
.small.ui.attached.segment
{
  font-size: small !important;
}
.larger.ui.attached.segment
{
  font-size: larger !important;
}
.medium.ui.attached.segment
{
  font-size: medium !important;
}
.customheadStyleHead .content .header {
  font-weight: 600 !important;
}
.customheadStyleHead .content .description {
  font-weight: 100 !important;
}
.customheadStyleDesc .content .header {
  font-weight: 100 !important;
}
.customheadStyleDesc .content .description {
  font-weight: bold !important;
  color: black;
}
.ui.main-nav {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #0090e2 !important;
  position: fixed !important;
  z-index: 1;
  width: 100%;
}
.masthead h1.ui.header {
  margin-top: 5em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}
.ui.container {
  width: 100% !important;
}
@media only screen and (max-width: 767px) {
  .masthead.segment {
    /* min-height: 350px; */
  }
  .T2op {
    margin-top: 110px !important;
  }
  .ui.container {
    margin: 0px !important;
  }
  .ui.container .masthead {
    margin: 0px !important;
  }
  .ui.segment.header {
    margin-top: 94px !important;
  }
  .searchBox {
    min-width: 300px;
  }
  .column img {
    margin: 0 auto;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .ui.container {
    width: auto!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}
